<configuration>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/storage/emulated/0/org.esupportail.esupnfctagdroid/nfctagdroid.log</file>
        <encoder>
            <pattern>%date{dd/MM/yyyy HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.classic.android.LogcatAppender">
        <encoder>
            <pattern>%date{dd/MM/yyyy HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!--
    <appender name="EMAIL" class="ch.qos.logback.classic.net.SMTPAppender">
        <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
            <marker>NOTIFY_ADMIN</marker>
        </evaluator>
        <smtpHost>smtp.univ-ville.fr</smtpHost>
        <smtpPort>25</smtpPort>
        <to>leodroid-logs@univ-ville.fr</to>
        <from>leodroid-logs@univ-ville.fr</from>
        <subject>%-5level - nfctagdroid %date{dd/MM/yyyy HH:mm:ss}</subject>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date %-5level %logger{35} - %message%n</pattern>
        </layout>
    </appender>
    <appender name="HTTP" class="org.esupportail.esupnfctagdroid.logback.HttpAppender">
        <hostname>esup-nfc-tag.univ-ville.fr/logs</hostname>
        <protocol>https</protocol>
    </appender>
-->
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
        <!--<appender-ref ref="EMAIL" />-->
    </root>

    <logger name="org.esupportail.esupnfctagdroid" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
        <!--<appender-ref ref="EMAIL" />-->
        <!--<appender-ref ref="HTTP" />-->
    </logger>

    <logger name="org.esupportail.esupnfctagdroid.requestasync" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>

</configuration>
